<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Findsimilar</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="static/css/assets/dist/css/bootstrap.min.css" rel="stylesheet"> 
    
      <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>
      
    <!-- Custom styles for this template -->
    <link href="static/findsimilar.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <h2>Select movies you like:</h2>
      <br>
      <p>The form below contains two dropdown menus (select lists):</p>
      <form action="/action_page.php">
        <div class="form-group">
          <label for="sel1">Select list (select one):</label>
          <select class="form-control" id="sel1" name="sellist1">
                <option value="Action" selected>Action</option>
                <option value="Adventure">Adventure</option>
                <option value="Animation">Animation</option>
                <option value="Children">Children</option>
                <option value="Comedy">Comedy</option>
                <option value="Crime">Crime</option>
                <option value="Documentary">Documentary</option>
                <option value="Drama">Drama</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Horror">Horror</option>
                <option value="Musical">Musical</option>
                <option value="Mystery">Mystery</option>
                <option value="Romance">Romance</option>
                <option value="Sci.Fi">Sci-Fi</option>
                <option value="Thriller">Thriller</option>
                <option value="War">War</option>
                <option value="Western">Western</option>
          </select>
          <br>
          <label for="sel2">Select movies you like for the genre above 
          <br> (Use Cntrl / Command button for selecting multiple):
          </label>
          <select multiple class="form-control" id="sel2" name="sellist2">
                <option value="Action" selected>Movie1</option>
                <option value="Adventure">Movie2</option>
                <option value="Animation">Movie3</option>
                <option value="Children">Movie4</option>
                <option value="Comedy">Movie5</option>
                <option value="Crime">Movie6</option>
                <option value="Documentary">Movie7</option>
                <option value="Drama">Movie8</option>
                <option value="Fantasy">Movie9</option>
                <option value="Horror">Movie10</option>
                <option value="Musical">Movie11</option>
                <option value="Mystery">Movie12</option>
                <option value="Romance">Movie13</option>
                <option value="Sci.Fi">Movie14</option>
                <option value="Thriller">Movie15</option>
                <option value="War">Movie16</option>
                <option value="Western">Movie17</option>
          </select>
        </div>
      </form>
    </div>

    <div class="container">
      <br>
      <br>
      <br>
      <p>The form below contains two dropdown menus (select lists):</p>
      <form action="/action_page.php">
        <div class="form-group">
          <label for="sel1">Select list (select one):</label>
          <select class="form-control" id="sel1" name="sellist1">
                <option value="Action" selected>Action</option>
                <option value="Adventure">Adventure</option>
                <option value="Animation">Animation</option>
                <option value="Children">Children</option>
                <option value="Comedy">Comedy</option>
                <option value="Crime">Crime</option>
                <option value="Documentary">Documentary</option>
                <option value="Drama">Drama</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Horror">Horror</option>
                <option value="Musical">Musical</option>
                <option value="Mystery">Mystery</option>
                <option value="Romance">Romance</option>
                <option value="Sci.Fi">Sci-Fi</option>
                <option value="Thriller">Thriller</option>
                <option value="War">War</option>
                <option value="Western">Western</option>
          </select>
          <br>
          <label for="sel2">Select movies you like for the genre above 
          <br> (Use Cntrl / Command button for selecting multiple):
          </label>
          <select multiple class="form-control" id="sel2" name="sellist2">
                <option value="Action" selected>Action-movie</option>
                <option value="Adventure">Adventure-movie</option>
                <option value="Animation">Animation-movie</option>
                <option value="Children">Children-movie</option>
                <option value="Comedy">Comedy-movie</option>
                <option value="Crime">Crime-movie</option>
                <option value="Documentary">Documentary-movie</option>
                <option value="Drama">Drama-movie</option>
                <option value="Fantasy">Fantasy-movie</option>
                <option value="Horror">Horror-movie</option>
                <option value="Musical">Musical-movie</option>
                <option value="Mystery">Mystery-movie</option>
                <option value="Romance">Romance-movie</option>
                <option value="Sci.Fi">Sci-Fi-movie</option>
                <option value="Thriller">Thriller-movie</option>
                <option value="War">War-movie</option>
                <option value="Western">Western-movie</option>
          </select>
        </div>
      </form>
    </div>

    <div class="container">
      <br>
      <br>
      <br>
      <p>The form below contains two dropdown menus (select lists):</p>
      <form action="/action_page.php">
        <div class="form-group">
          <label for="sel1">Select list (select one):</label>
          <select class="form-control" id="sel1" name="sellist1">
                <option value="Action" selected>Action</option>
                <option value="Adventure">Adventure</option>
                <option value="Animation">Animation</option>
                <option value="Children">Children</option>
                <option value="Comedy">Comedy</option>
                <option value="Crime">Crime</option>
                <option value="Documentary">Documentary</option>
                <option value="Drama">Drama</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Horror">Horror</option>
                <option value="Musical">Musical</option>
                <option value="Mystery">Mystery</option>
                <option value="Romance">Romance</option>
                <option value="Sci.Fi">Sci-Fi</option>
                <option value="Thriller">Thriller</option>
                <option value="War">War</option>
                <option value="Western">Western</option>
          </select>
          <br>
          <label for="sel2">Select movies you like for the genre above 
          <br> (Use Cntrl / Command button for selecting multiple):
          </label>
          <select multiple class="form-control" id="sel2" name="sellist2">
                <option value="Action" selected>Action-movie</option>
                <option value="Adventure">Adventure-movie</option>
                <option value="Animation">Animation-movie</option>
                <option value="Children">Children-movie</option>
                <option value="Comedy">Comedy-movie</option>
                <option value="Crime">Crime-movie</option>
                <option value="Documentary">Documentary-movie</option>
                <option value="Drama">Drama-movie</option>
                <option value="Fantasy">Fantasy-movie</option>
                <option value="Horror">Horror-movie</option>
                <option value="Musical">Musical-movie</option>
                <option value="Mystery">Mystery-movie</option>
                <option value="Romance">Romance-movie</option>
                <option value="Sci.Fi">Sci-Fi-movie</option>
                <option value="Thriller">Thriller-movie</option>
                <option value="War">War-movie</option>
                <option value="Western">Western-movie</option>
          </select>
        </div>
      </form>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </body>
</html>
