<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WordCloud</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="static/css/assets/dist/css/bootstrap.min.css" rel="stylesheet"> 

      <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>
    <!-- Custom styles for this template -->
    <link href="static/wc.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <br>
      <h2>Select from one of the word clouds</h2>
      <form action="/action_page.php">
        <div class="form-group">
          <label for="sel1">  </label>
          <select class="form-control" id="sel1" name="sellist1">
                <option value="woman_director" selected>Woman Director</option>
                <option value="murder">Murder</option>
                <option value="based_on_novel">Based on a Novel</option>
                <option value="musical">Musical</option>
                <option value="sex">Sex</option>
                <option value="biography">Biography</option>
                <option value="nudity">Nudity</option>
                <option value="revenge">Revenge</option>
                <option value="suspense">Suspense</option>
                <option value="love">Love</option>
                <option value="female nudity">REMOVE</option>
                <option value="sport">Sport</option>
                <option value="police">Police</option>
                <option value="sequel">Sequel</option>
                <option value="teenager">Teen</option>
                <option value="duringcreditsstinger">REMOVE</option>
                <option value="world_war_ii">World War II</option>
                <option value="stand">REMOVE</option>
                <option value="drug">Drug</option>
                <option value="prison">Prison</option>
                <option value="up_comedy">Comedy</option>
                <option value="high_school">High School</option>
                <option value="martial_arts">Martial Arts</option>
                <option value="family">Family</option>
                <option value="suicide">Suicide</option> 
                <option value="film_noir">Film Noir</option>
                <option value="rape">Rape</option>
                <option value="kidnapping">Kidnapping</option>
                <option value="silent_film">Silent Film</option>
                <option value="seriel_killer">Seriel Killer</option>
                <option value="monster">Monster</option>
                <option value="alien">Alien</option>
                <option value="parts">REMOVE</option>
                <option value="dystophia">Dystopia</option>
                <option value="new_york">New York</option>
                <option value="gay">Gay</option>
                <option value="short">REMOVE</option>
                <option value="blood">Blood</option>
                <option value="marriage">Marriage</option>
                <option value="gore">Gore</option>
                <option value="zombie">Zombie</option>
                <option value="death">Death</option>
                <option value="gangster">Gangster</option>
                <option value="small_town">Small Town</option>
                <option value="london_england">London England</option>
                <option value="romance">Romance</option>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="media">
          <img="img/word_cloud_graphic.png" class="img-responsive">
        </div>
      </div> 
    </div>

  </body>
</html>
