.home {
    background: white url("images/Homepage_background.bmp") no-repeat;
}

.wordcloud {
    background: white url("images/popcorn.jpeg") no-repeat;
}

.movieselection {
    background: white url("images/movieselection.jpg") no-repeat;
}

/*
body { 
    background-image: url('images/cinema.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
  }
*/

h1 {
    font-size: 800%;
    text-align: center;
}

.hometitle {
    color: white
}

a {
    display: block;
    font-size: 200%;
    color: #BFC0C0;
    text-decoration: none;
    letter-spacing: 1px;
    text-align: center !important;
}

.tags {
    font-size: 200% !important;
    color: #494949 !important;
    text-align: left !important;
}

img {
    float:right;
}

.information {
    color: white;
}

h2 {
    font-size: 200% !important;
}

div {
    text-align: center !important;
    font-size: 200% !important;
}



  